@import "tailwindcss";
@import "tw-animate-css";

:root {

  /* background */
  --color-bg-default: #FAF9F6;
  --color-bg-subtle: #F2F0EB;

  /* text */
  --color-text-primary: #3A3832;
  --color-text-secondary: #5C5A54;
  --color-text-placeholder: #9C9A93;
  
  /*border*/
  --color-border-default: #E4E1D8;

  /* brand */
  --color-brand-default: #2A7C7C;
  --color-brand-hover: #235F5F;
  --color-brand-accent: #E8845A;
  --color-brand-on-brand: #FAF9F6;

  /* status */
  --color-status-success: #2A8F6F;
  --color-status-error: #C0443A;
}

.dark {
  /* background */
  --color-bg-default: #131210;
  --color-bg-subtle: #252320;

  /* text */
  --color-text-primary: #FAF9F6;
  --color-text-secondary: #F2F0EB;
  --color-text-placeholder: #9C9A93;
  
  /*border*/
  --color-border-default: #3A3832;

  /* brand */
  --color-brand-default: #5AADAD;
  --color-brand-hover: #2A7C7C;
  --color-brand-accent: #EDA07E;
  --color-brand-on-brand: #131210;

  /* status */
  --color-status-success: #3DB88F;
  --color-status-error: #D4645B;
}